USE [master]
GO

CREATE DATABASE [AuraBeautyDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuraBeautyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuraBeautyDB]
GO
/****** Objeto: Table [dbo].[Categoria] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](255) NULL,
	[imagen] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[apellido] [nvarchar](100) NULL,
	[dni] [int] NULL,
	[fecha_nacimiento] [datetime] NULL,
	[fecha_registro] [datetime] NULL,
	[domicilio] [nvarchar](255) NULL,
	[correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](255) NULL,
	[precio] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[id_categoria] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](100) NOT NULL,
	[id_rol] [int] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentaCabecera] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaCabecera](
	[Id_ventaCabecera] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_usuario] [int] NULL,
	[tipo_factura] [nvarchar](50) NULL,
	[nro_factura] [nvarchar](50) NULL,
	[total] [decimal](10, 2) NULL,
	[fecha_venta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_ventaCabecera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentaDetalle] Fecha de script: 21/9/2026 21:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[Id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_ventaCabecera] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Objeto: Table [dbo].[SolicitudStock] - Gestión de solicitudes justificadas de stock ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SolicitudStock](
    [id_solicitud] [int] IDENTITY(1,1) NOT NULL,
    [id_producto] [int] NOT NULL,
    [id_usuario_solicitante] [int] NOT NULL,
    [tipo_movimiento] [varchar](20) NOT NULL,
    [cantidad] [int] NOT NULL,
    [motivo] [varchar](250) NOT NULL,
    [estado] [varchar](20) NOT NULL
        CONSTRAINT [DF_SolicitudStock_Estado] DEFAULT ('PENDIENTE'),
    [fecha_solicitud] [datetime] NOT NULL
        CONSTRAINT [DF_SolicitudStock_Fecha] DEFAULT (GETDATE()),
    [id_usuario_autorizador] [int] NULL,
    [fecha_resolucion] [datetime] NULL,

    CONSTRAINT [PK_SolicitudStock]
        PRIMARY KEY CLUSTERED ([id_solicitud] ASC),

    CONSTRAINT [CK_SolicitudStock_Tipo]
        CHECK ([tipo_movimiento] IN ('INGRESO','EGRESO')),

    CONSTRAINT [CK_SolicitudStock_Estado]
        CHECK ([estado] IN ('PENDIENTE','APROBADA','RECHAZADA')),

    CONSTRAINT [CK_SolicitudStock_Cantidad]
        CHECK ([cantidad] > 0)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[SolicitudStock] WITH CHECK
ADD CONSTRAINT [FK_SolicitudStock_Producto]
FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([Id_producto])
GO

ALTER TABLE [dbo].[SolicitudStock] CHECK
CONSTRAINT [FK_SolicitudStock_Producto]
GO

ALTER TABLE [dbo].[SolicitudStock] WITH CHECK
ADD CONSTRAINT [FK_SolicitudStock_Solicitante]
FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO

ALTER TABLE [dbo].[SolicitudStock] CHECK
CONSTRAINT [FK_SolicitudStock_Solicitante]
GO

ALTER TABLE [dbo].[SolicitudStock] WITH CHECK
ADD CONSTRAINT [FK_SolicitudStock_Autorizador]
FOREIGN KEY([id_usuario_autorizador])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO

ALTER TABLE [dbo].[SolicitudStock] CHECK
CONSTRAINT [FK_SolicitudStock_Autorizador]
GO

SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id_categoria], [nombre], [descripcion], [imagen], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Bases', N'Productos destinados a unificar el tono de la piel, mejorar su apariencia y proporcionar distintos niveles de cobertura y acabado.', NULL, CAST(N'2026-09-14T00:21:08.583' AS DateTime), NULL, NULL)
INSERT [dbo].[Categoria] ([Id_categoria], [nombre], [descripcion], [imagen], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Labiales', N'Aportan color, definición y acabado a los labios, disponibles en diferentes texturas, tonos.', NULL, CAST(N'2026-09-14T00:21:48.680' AS DateTime), NULL, NULL)
INSERT [dbo].[Categoria] ([Id_categoria], [nombre], [descripcion], [imagen], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Sombras de Ojos', N'Productos para realzar y definir la mirada mediante la aplicación de color en los párpados, con variedad de tonos, texturas y acabados.', NULL, CAST(N'2026-09-14T00:22:39.077' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id_cliente], [nombre], [apellido], [dni], [fecha_nacimiento], [fecha_registro], [domicilio], [correo]) VALUES (1, N'Maite', N'Lopez', 43995800, CAST(N'2005-06-11T00:00:00.000' AS DateTime), CAST(N'2026-09-14T01:57:00.643' AS DateTime), N'Juni 7201', N'maitelopez@gmail.com')
INSERT [dbo].[Cliente] ([Id_cliente], [nombre], [apellido], [dni], [fecha_nacimiento], [fecha_registro], [domicilio], [correo]) VALUES (2, N'Fernanda', N'Galarza', 22389720, CAST(N'1977-02-23T00:00:00.000' AS DateTime), CAST(N'2026-09-14T15:18:45.413' AS DateTime), N'Moreno 500', N'fergalarza@gmail.com')
INSERT [dbo].[Cliente] ([Id_cliente], [nombre], [apellido], [dni], [fecha_nacimiento], [fecha_registro], [domicilio], [correo]) VALUES (3, N'Amira', N'Moreira', 43218456, CAST(N'2002-09-14T00:00:00.000' AS DateTime), CAST(N'2026-09-14T15:27:00.003' AS DateTime), N'Peru 570', N'amiramo@gmail.com')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id_producto], [nombre], [descripcion], [precio], [stock], [id_categoria], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Base Ruby Rose', N'Base líquida de cobertura media y acabado natural.', CAST(18500.00 AS Decimal(10, 2)), 10, 1, CAST(N'2026-09-14T01:12:32.783' AS DateTime), CAST(N'2026-09-14T14:14:17.357' AS DateTime), NULL)
INSERT [dbo].[Producto] ([Id_producto], [nombre], [descripcion], [precio], [stock], [id_categoria], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Labial Cherry Red', N'Labial de acabado mate, alta pigmentación y cobertura uniforme.', CAST(9500.00 AS Decimal(10, 2)), 1, 2, CAST(N'2026-09-14T01:13:58.633' AS DateTime), CAST(N'2026-09-14T15:19:14.157' AS DateTime), NULL)
INSERT [dbo].[Producto] ([Id_producto], [nombre], [descripcion], [precio], [stock], [id_categoria], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Base Soft Matte', N'Base líquida de acabado mate y cobertura media, ideal para uso diario.', CAST(18900.00 AS Decimal(10, 2)), 8, 1, CAST(N'2026-09-14T15:43:10.377' AS DateTime), CAST(N'2026-09-14T18:07:23.303' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
INSERT [dbo].[Rol] ([id_rol], [descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([id_rol], [descripcion]) VALUES (2, N'Vendedor')
INSERT [dbo].[Rol] ([id_rol], [descripcion]) VALUES (3, N'Repositor')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [correo], [contraseña], [id_rol], [deleted_at]) VALUES (2, N'Paulina', N'Galeano', N'admin@aura.com', N'1234', 1, NULL)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [correo], [contraseña], [id_rol], [deleted_at]) VALUES (3, N'Juana Maria', N'Perez', N'juanap@aura.com', N'12345', 2, NULL)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [correo], [contraseña], [id_rol], [deleted_at]) VALUES (4, N'Carlos', N'Gomez', N'carlosg@aura.com', N'123456', 3, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[VentaCabecera] ON 

INSERT [dbo].[VentaCabecera] ([Id_ventaCabecera], [id_cliente], [id_usuario], [tipo_factura], [nro_factura], [total], [fecha_venta]) VALUES (1, NULL, 3, N'Factura C', N'V-20260914133017146', CAST(37500.00 AS Decimal(10, 2)), CAST(N'2026-09-14T13:36:55.597' AS DateTime))
INSERT [dbo].[VentaCabecera] ([Id_ventaCabecera], [id_cliente], [id_usuario], [tipo_factura], [nro_factura], [total], [fecha_venta]) VALUES (2, NULL, 3, N'Factura C', N'V-20260914141403530', CAST(18500.00 AS Decimal(10, 2)), CAST(N'2026-09-14T14:14:17.350' AS DateTime))
INSERT [dbo].[VentaCabecera] ([Id_ventaCabecera], [id_cliente], [id_usuario], [tipo_factura], [nro_factura], [total], [fecha_venta]) VALUES (3, 2, 3, N'Factura C', N'V-20260914151857605', CAST(9500.00 AS Decimal(10, 2)), CAST(N'2026-09-14T15:19:14.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[VentaCabecera] OFF
GO
SET IDENTITY_INSERT [dbo].[VentaDetalle] ON 

INSERT [dbo].[VentaDetalle] ([Id_detalle], [id_ventaCabecera], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 1, 1, 1, CAST(18500.00 AS Decimal(10, 2)), CAST(18500.00 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([Id_detalle], [id_ventaCabecera], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 1, 2, 2, CAST(9500.00 AS Decimal(10, 2)), CAST(19000.00 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([Id_detalle], [id_ventaCabecera], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 2, 1, 1, CAST(18500.00 AS Decimal(10, 2)), CAST(18500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[VentaDetalle] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__2A586E0B4120431C] Fecha de script: 21/9/2026 21:10:59 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([Id_categoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[VentaCabecera]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[VentaCabecera] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[VentaCabecera]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[VentaCabecera] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([Id_producto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_Detalle_Producto]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta] FOREIGN KEY([id_ventaCabecera])
REFERENCES [dbo].[VentaCabecera] ([Id_ventaCabecera])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_Detalle_Venta]
GO

/* ============================================================
   PROCEDIMIENTOS ALMACENADOS - SOLICITUDES DE STOCK
   ============================================================ */

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SolicitudStock_Registrar]
    @id_producto INT,
    @id_usuario_solicitante INT,
    @tipo_movimiento VARCHAR(20),
    @cantidad INT,
    @motivo VARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[SolicitudStock]
    (
        id_producto,
        id_usuario_solicitante,
        tipo_movimiento,
        cantidad,
        motivo
    )
    VALUES
    (
        @id_producto,
        @id_usuario_solicitante,
        @tipo_movimiento,
        @cantidad,
        @motivo
    );

    SELECT CAST(1 AS INT) AS Resultado;
END;
GO


CREATE PROCEDURE [dbo].[SP_SolicitudStock_ListarPendientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ss.id_solicitud,
        ss.id_producto,
        p.nombre AS producto,
        p.stock AS stock_actual,
        ss.id_usuario_solicitante,
        u.nombre AS nombre_solicitante,
        u.apellido AS apellido_solicitante,
        ss.tipo_movimiento,
        ss.cantidad,
        ss.motivo,
        ss.estado,
        ss.fecha_solicitud,
        ss.id_usuario_autorizador,
        ss.fecha_resolucion
    FROM [dbo].[SolicitudStock] ss
    INNER JOIN [dbo].[Producto] p
        ON ss.id_producto = p.Id_producto
    INNER JOIN [dbo].[Usuario] u
        ON ss.id_usuario_solicitante = u.id_usuario
    WHERE ss.estado = 'PENDIENTE'
    ORDER BY ss.fecha_solicitud DESC;
END;
GO


CREATE PROCEDURE [dbo].[SP_SolicitudStock_Aprobar]
    @id_solicitud INT,
    @id_usuario_autorizador INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @id_producto INT;
        DECLARE @tipo_movimiento VARCHAR(20);
        DECLARE @cantidad INT;
        DECLARE @stock_actual INT;

        SELECT
            @id_producto = id_producto,
            @tipo_movimiento = tipo_movimiento,
            @cantidad = cantidad
        FROM [dbo].[SolicitudStock] WITH (UPDLOCK, HOLDLOCK)
        WHERE id_solicitud = @id_solicitud
          AND estado = 'PENDIENTE';

        IF @id_producto IS NULL
        BEGIN
            THROW 50001,
                'La solicitud no existe o ya fue resuelta.',
                1;
        END;

        SELECT
            @stock_actual = stock
        FROM [dbo].[Producto] WITH (UPDLOCK, HOLDLOCK)
        WHERE Id_producto = @id_producto;

        IF @stock_actual IS NULL
        BEGIN
            THROW 50002,
                'No se encontró el producto asociado.',
                1;
        END;

        IF @tipo_movimiento = 'INGRESO'
        BEGIN
            UPDATE [dbo].[Producto]
            SET stock = stock + @cantidad
            WHERE Id_producto = @id_producto;
        END
        ELSE IF @tipo_movimiento = 'EGRESO'
        BEGIN
            IF @stock_actual < @cantidad
            BEGIN
                THROW 50003,
                    'No existe stock suficiente para aprobar el egreso.',
                    1;
            END;

            UPDATE [dbo].[Producto]
            SET stock = stock - @cantidad
            WHERE Id_producto = @id_producto;
        END
        ELSE
        BEGIN
            THROW 50004,
                'El tipo de movimiento de la solicitud no es válido.',
                1;
        END;

        UPDATE [dbo].[SolicitudStock]
        SET
            estado = 'APROBADA',
            id_usuario_autorizador = @id_usuario_autorizador,
            fecha_resolucion = GETDATE()
        WHERE id_solicitud = @id_solicitud
          AND estado = 'PENDIENTE';

        COMMIT TRANSACTION;

        SELECT CAST(1 AS INT) AS Resultado;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END;
GO


CREATE PROCEDURE [dbo].[SP_SolicitudStock_Rechazar]
    @id_solicitud INT,
    @id_usuario_autorizador INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE [dbo].[SolicitudStock]
        SET
            estado = 'RECHAZADA',
            id_usuario_autorizador = @id_usuario_autorizador,
            fecha_resolucion = GETDATE()
        WHERE id_solicitud = @id_solicitud
          AND estado = 'PENDIENTE';

        IF @@ROWCOUNT = 0
        BEGIN
            THROW 50005,
                'La solicitud no existe o ya fue resuelta.',
                1;
        END;

        COMMIT TRANSACTION;

        SELECT CAST(1 AS INT) AS Resultado;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END;
GO


USE [master]
GO

-- =============================================
-- PROCEDIMIENTO ALMACENADO: SP_ReporteVentas
-- =============================================
USE AuraBeautyDB;
GO

IF OBJECT_ID('SP_ReporteVentas', 'P') IS NOT NULL
    DROP PROCEDURE SP_ReporteVentas;
GO

CREATE PROCEDURE SP_ReporteVentas
(
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @IdUsuario INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.Id_ventaCabecera AS IdVenta,
        v.fecha_venta AS FechaVenta,
        ISNULL(v.nro_factura, 'S/N') AS NroFactura,
        ISNULL(u.nombre + ' ' + u.apellido, 'Sin Vendedor') AS Vendedor,
        ISNULL(v.id_cliente, 'Consumidor Final') AS Cliente,
        v.total AS Total
    FROM VentaCabecera v
    LEFT JOIN Usuario u ON u.id_usuario = v.id_usuario
    WHERE CAST(v.fecha_venta AS DATE) >= CAST(@FechaInicio AS DATE)
      AND CAST(v.fecha_venta AS DATE) <= CAST(@FechaFin AS DATE)
      AND (@IdUsuario IS NULL OR v.id_usuario = @IdUsuario)
    ORDER BY v.fecha_venta DESC;
END;
GO

-- =============================================
-- PROCEDIMIENTO ALMACENADO: SP_ReporteMovimientosStock
-- =============================================
IF OBJECT_ID('SP_ReporteMovimientosStock', 'P') IS NOT NULL
    DROP PROCEDURE SP_ReporteMovimientosStock;
GO

CREATE PROCEDURE SP_ReporteMovimientosStock
(
    @FechaInicio DATETIME,
    @FechaFin DATETIME
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.id_solicitud AS IdSolicitud,
        ISNULL(p.nombre, 'Sin Producto') AS Producto,
        ISNULL(c.nombre, 'Sin Categoría') AS Categoria,
        ISNULL(s.tipo_movimiento, 'N/A') AS TipoMovimiento,
        ISNULL(s.Cantidad, 0) AS Cantidad,
        ISNULL(s.Motivo, '') AS Motivo,
        ISNULL(s.Estado, '') AS Estado,
        s.fecha_solicitud,
        ISNULL(s.id_usuario_solicitante, '') AS Solicitante
    FROM SolicitudStock s
    LEFT JOIN Producto p ON p.Id_producto = s.id_producto
    LEFT JOIN Categoria c ON c.Id_categoria = p.id_categoria
    WHERE CAST(s.fecha_solicitud AS DATE) >= CAST(@FechaInicio AS DATE)
      AND CAST(s.fecha_resolucion AS DATE) <= CAST(@FechaFin AS DATE)
    ORDER BY s.fecha_solicitud DESC;
END;
GO